.btn {
    background-color: #ea1e63;
    padding: 0.5em 0.7em;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 1em;
    border: none;
    border-radius: 0.2em;
}

.btn:hover {
    box-shadow: 0 4px 8px #0002;
}