.btn {
    background-color: #ea1e63;
    padding: 0.5em 0.7em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    box-shadow: 0 4px 8px #0002;
}

.btn.btn-green {
    background-color: green;
}

.btn.btn-circle {
    height: 2em;
    width: 2em;
    padding: 0;
    line-height: 2em;
    border-radius: 50%;
}